<div class="main_sec" id="app">
	<div>
		型号：<input v-model="form.model">
		客户名称:<input v-model="form.coname">
		合同编号:<input v-model="form.number">
		产品编号:<input v-model="form.pro_number">
		选择部门：<select v-model="form.depts">
				<option value="">请选择</option>
				<option v-for="dept in departmentList">{{dept}}</option>
				</select>
		销售员:<select v-model="form.man">
				<option value="">请选择</option>
				<option v-for="user in userList">{{user.name}}</option>
				</select>
		返回原因:<select v-model="form.pStates">
				<option>请选择</option>
				<option>A、退回重新编辑</option>
				<option>B、货物检验有质量问题</option>
				<option>C、货物不符合合同要求</option>
				<option>D、客户推迟订货时间</option>
				<option>E、供应商没有货</option>
				<option>F、没有收到货款</option>
				<option>G、其他</option>
				</select>
		起始日期：
			<input v-model="form.startdate">
		终止日期:
			<input v-model="form.enddate">
		
		<button @click="toAdd">新增合同</button>
		<button @click="query">查询</button>
	</div>
	<div>
		<jxiaui-datagrid class="table" ref="datagrid" :dataset="dataset">
	        <jxiaui-datagrid-item label="序号" type="index"></jxiaui-datagrid-item>
			<jxiaui-datagrid-item label="合同编号">
				<template v-slot="row">
					<a :href="getUrl(row)" target="_blank">{{row.number}}</a>
				</template>
			</jxiaui-datagrid-item>
			<jxiaui-datagrid-item label="客户名称">
				<template v-slot="row">
					<a :href="getUrl(row)" target="_blank">{{row.coname}}</a>
				</template>
			</jxiaui-datagrid-item>
			<jxiaui-datagrid-item label="付款方式" field="mode">
			</jxiaui-datagrid-item>
			<jxiaui-datagrid-item label="责任人" field="man">
			</jxiaui-datagrid-item>
			<jxiaui-datagrid-item label="返回原因" field="pstates">
			</jxiaui-datagrid-item>
			<jxiaui-datagrid-item label="审批状态" field="state">
			</jxiaui-datagrid-item>
	    </jxiaui-datagrid>
	</div>
</div>

