

<div id="form">
	<table class="table table-bordered">
		<tr>
			<th>计划日期：<input type="hidden" name="id"></th>
			<td colspan="5"><label name="year"></label>年<label name="month"></label>月</td>
		</tr>
		<tr>
		  <th>销售目标：</th>
		  <td><input name="total"> (万元) </td>
		  <th>计划员工：</th>
		  <td><label name="man"></label></td>
		  <th>创建日期：</th>
		  <td><label name="create_time"></label></td>
		</tr>
	  	<tr>
			<th>完成度：</th>
			<td colspan="5"><input name="process" ui="number">%</td>
		</tr>
	</table>
	
	<div style="padding: 5px;margin: 5px;border:1px #ccc solid;">
		<h2>主项产品销售计划</h2>
		<table class="table table-bordered">
			<tr>
				<td>目标客户</td>
				<td><div ui="rich-editor" name="client"></div></td>
			</tr>
			<tr>
				<td>产品销售</td>
				<td><div ui="rich-editor" name="product"></div></td>
			</tr>
		</table>
		<div>
			<button action="addPlan">增加计划</button>
		</div>
		<div id="main_plan_table"></div>
	</div>
	
	<div style="padding: 5px;margin: 5px;border:1px #ccc solid;">
		<h2>重点工作内容和目标</h2>
		<div>
			<button action="addTarget">增加目标</button>
		</div>
		<div id="main_target_table"></div>
	</div>
	
	<div style="text-align: center">
		<button action="update" class="btn btn-primary">修改</button>
		<button action="del" class="btn btn-primary">删除</button>
	</div>
</div>



