<div class="main_sec" id="app">
	<div>
		产品型号 <input v-model="form.model" size="10">
		报价单号<input v-model="form.number" id="number">
		客户名称<input v-model="form.coname">
		状态<select v-model="form.status">
			<option value="">请选择</option>
			<option value="draft">未提交</option>
			<option value="approving">待审批</option>
			<option value="approved">未提交</option>
		</select>
		<button @click="toAdd">新增</button>
		<button @click="query">查询</button>
		<button @click="chooseInquiry">选择询价单</button>
	</div>
	<div>
		<jxiaui-datagrid class="table" ref="datagrid" :dataset="dataset" :params="form">
	        <jxiaui-datagrid-item label="序号" type="index"></jxiaui-datagrid-item>
			<jxiaui-datagrid-item label="报价编号">
				<template v-slot="row">
					<a :href="getUrl(row)" target="_blank">{{row.number}}</a>
				</template>
			</jxiaui-datagrid-item>
			<jxiaui-datagrid-item label="收件人">
				<template v-slot="row">
					<a :href="getUrl(row)" target="_blank">{{row.coname}}</a>
				</template>
			</jxiaui-datagrid-item>
			<jxiaui-datagrid-item label="客户名称">
				<template v-slot="row">
					<a :href="getUrl(row)" target="_blank">{{row.coname}}</a>
				</template>
			</jxiaui-datagrid-item>
			<jxiaui-datagrid-item label="报价日期" field="quotedatetime">
			</jxiaui-datagrid-item>
			<jxiaui-datagrid-item label="责任人" field="man">
			</jxiaui-datagrid-item>
			<jxiaui-datagrid-item label="状态" field="states">
			</jxiaui-datagrid-item>
	    </jxiaui-datagrid>
	</div>
</div>

