<div class="main_sec" id="app">
	<div>
		型号：<input v-model="form.model">
		客户名称:<input v-model="form.coname">
		<button @click="query">查询</button>
	</div>
	<div>
		<jxiaui-datagrid class="table" ref="datagrid" :dataset="dataset">
	        <jxiaui-datagrid-item label="序号" type="index"></jxiaui-datagrid-item>
			<jxiaui-datagrid-item label="合同编号">
				<template v-slot="row">
					<a :href="getUrl(row)" target="_blank">{{row.number}}</a>
				</template>
			</jxiaui-datagrid-item>
			<jxiaui-datagrid-item label="客户名称">
				<template v-slot="row">
					<a :href="getUrl(row)" target="_blank">{{row.coname}}</a>
				</template>
			</jxiaui-datagrid-item>
			<jxiaui-datagrid-item label="付款方式" field="mode">
			</jxiaui-datagrid-item>
			<jxiaui-datagrid-item label="责任人" field="man">
			</jxiaui-datagrid-item>
			<jxiaui-datagrid-item label="审批人" field="spman">
			</jxiaui-datagrid-item>
			<jxiaui-datagrid-item label="复审人" field="swman">
			</jxiaui-datagrid-item>
			<jxiaui-datagrid-item label="审批状态" field="state">
			</jxiaui-datagrid-item>
	    </jxiaui-datagrid>
	</div>
</div>

