<div id="app">
	<div>
		<jxiaui-datagrid class="table" ref="datagrid" :dataset="dataset">
			<jxiaui-datagrid-item label="发运单号" field="tr_types">
			</jxiaui-datagrid-item>
			<jxiaui-datagrid-item label="销售单号" field="subscribe">
			</jxiaui-datagrid-item>
			<jxiaui-datagrid-item label="客户名称" field="coname">
			</jxiaui-datagrid-item>
			<jxiaui-datagrid-item label="运输方式" field="tr_types">
			</jxiaui-datagrid-item>
			<jxiaui-datagrid-item label="收货人" field="linkman">
			</jxiaui-datagrid-item>
			<jxiaui-datagrid-item label="目标发运日" field="mbdate">
			</jxiaui-datagrid-item>
			<jxiaui-datagrid-item label="状态" field="sate">
			</jxiaui-datagrid-item>
			<jxiaui-datagrid-item label="是否打印" field="tr_print">
			</jxiaui-datagrid-item>
	    </jxiaui-datagrid>
	</div>
	<warehouse-send-bill-add-dialog ref="addDialog"></warehouse-send-bill-add-dialog>
</div>
