<div class="main_sec" id="app">
	<div id="searchDiv">
		国家: <jxiaui-combobox :dataset="countryDataset" v-model="form.country"></jxiaui-combobox>
		省份：  <jxiaui-combobox :dataset="provinceDataset" v-model="form.province"></jxiaui-combobox>
		行业类型: 	<select v-model="form.tradetypes"> 
					<option value="">请选择</option>
					<option>贸易商</option>
					<option>现货供应商</option>
					<option>代理商</option>
					<option>分销商</option>
					<option>生产商</option>
					<option>其他</option>
				</select>
		供应商名称: <input v-model="form.coname"> 
		联系人: <input v-model="form.cojsfs"> <br>
		产品类别: <input v-model="form.scale"> 
		<button @click="query">查询</button>
		<button @click="toAdd">新增</button>
		<button @click="toImport">导入</button>
	</div>
	<div>
		<jxiaui-datagrid class="table" ref="datagrid" :dataset="dataset">
	        <jxiaui-datagrid-item label="#" type="index"></jxiaui-datagrid-item>
			<jxiaui-datagrid-item label="供应商编号">
				<template v-slot="row">
					<a :href="getUrl(row)" target="_blank">{{row.co_number}}</a>
				</template>
			</jxiaui-datagrid-item>
			<jxiaui-datagrid-item label="客户名称">
				<template v-slot="row">
					<a :href="getUrl(row)" target="_blank">{{row.coname}}</a>
				</template>
			</jxiaui-datagrid-item>
			<jxiaui-datagrid-item label="联系人" field="cojsfs">
			</jxiaui-datagrid-item>
			
			<jxiaui-datagrid-item label="联系人手机" field="nshm">
			</jxiaui-datagrid-item>
			<jxiaui-datagrid-item label="电话 " field="cotel">
			</jxiaui-datagrid-item>
			<jxiaui-datagrid-item label="生产销售产品" field="scale">
			</jxiaui-datagrid-item>
			<jxiaui-datagrid-item label="行　　业" field="tradetypes">
			</jxiaui-datagrid-item>
	    </jxiaui-datagrid>
	</div>
</div>

