<div class="main_sec" id="app">
	<div id="searchDiv">
		型号：<input v-model="form.epro"> 
		品牌：<select v-model="form.supplier">
			<option value="">请选择</option>
			<option v-for="brand in brandList">{{brand.cpro }}</option>
		</select>
		<button @click="query">查询</button>
		<button @click="toAdd">增加</button>
	</div>
	<div>
		<jxiaui-datagrid class="table" ref="datagrid" :dataset="dataset">
	        <jxiaui-datagrid-item label="序号" type="index"></jxiaui-datagrid-item>
			<jxiaui-datagrid-item label="合同编号">
				<template v-slot="row">
					<a :href="getUrl(row)" target="_blank">{{row.number}}</a>
				</template>
			</jxiaui-datagrid-item>
			<jxiaui-datagrid-item label="客户名称">
				<template v-slot="row">
					<a :href="getUrl(row)" target="_blank">{{row.coname}}</a>
				</template>
			</jxiaui-datagrid-item>
			<jxiaui-datagrid-item label="销售合同号" field="sub">
			</jxiaui-datagrid-item>
			
			<jxiaui-datagrid-item label="货币" field="money">
			</jxiaui-datagrid-item>
			<jxiaui-datagrid-item label="采购金额" field="totalPrice">
			</jxiaui-datagrid-item>
			<jxiaui-datagrid-item label="运费" field="pay_je">
			</jxiaui-datagrid-item>
			<jxiaui-datagrid-item label="采购方向" field="senddate">
			</jxiaui-datagrid-item>
			<jxiaui-datagrid-item label="责任人" field="man">
			</jxiaui-datagrid-item>
			<jxiaui-datagrid-item label="状态" field="l_spqk">
			</jxiaui-datagrid-item>
			<jxiaui-datagrid-item label="日期" field="datetime">
			</jxiaui-datagrid-item>
	    </jxiaui-datagrid>
	</div>
</div>

