<div class="main_sec" id="app">
	<div id="searchDiv">
		名称: <input v-model="form.name">
		<button @click="query">查询</button>
	</div>
	<div>
		<jxiaui-datagrid class="table" ref="datagrid" :dataset="dataset">
	        <jxiaui-datagrid-item label="序号" type="index"></jxiaui-datagrid-item>
			<jxiaui-datagrid-item label="联系人">
				<template v-slot="row">
					<a :href="getUrl(row)" target="_blank">{{row.name}}</a>
				</template>
			</jxiaui-datagrid-item>
			<jxiaui-datagrid-item label="电话 ">
				<template v-slot="row">
					<a :href="getUrl(row)" target="_blank">{{row.cotel}}</a>
				</template>
			</jxiaui-datagrid-item>
			<jxiaui-datagrid-item label="电子邮件" field="email"></jxiaui-datagrid-item>
			<jxiaui-datagrid-item label="公司名称" field="coname"></jxiaui-datagrid-item>
	    </jxiaui-datagrid>
	</div>
</div>

