<div class="main_sec" id="app">
	<table height=8 width="100%" 
bordercolor="#CCBE5A" cellspacing="0" 
                        bordercolordark="#ffffff" cellpadding="3" 
                        align="center" bgcolor="#ffffff" bordercolorlight="#7f9db9" 
                        border="1"><tr> 
      <td colspan="4" bgcolor="#d3d8eb"><font size="2" color="#213e9b"><strong>供应商资料转移 </strong>
      </font><font size="2" color="#000000">&nbsp;</font>&nbsp;</td>
    </tr>
    <tr> 
      <td width="15%" bgcolor="#e8ebf5"><font size="2"><strong>从：</strong></font>&nbsp;</td>
      <td colspan="3"><font size="2">
      	<user-select v-model="form.man1"></user-select> 
      </td>
    </tr>
    <tr> 
      <td width="15%" bgcolor="#e8ebf5"><font size="2">客户名称</font>&nbsp;</td>
      <td colspan="3"><font size="2"> 
        <input name="coname" type="text" id="coname2" style="border: 1 inset #C3D9FF">
        </font>&nbsp;</td>
    </tr>
    <tr> 
      <td width="15%" bgcolor="#e8ebf5"><font size="2"><strong>转移到:</strong></font>&nbsp;</td>
      <td width="34%">
        <user-select v-model="form.man1"></user-select>
      </td>
      <td width="11%" bgcolor="#e8ebf5"><font size="2">是否共享</font>&nbsp;</td>
      <td width="40%"><font size="2"> 
        <select name="share">
          <option>否</option>
          <option>是</option>
        </select>
        </font>&nbsp;</td>
    </tr>
    <tr> 
      <td colspan="4"><center>
          <font size="2"> 
          	<button @click="sub">供应商资料转移</button>
          </font>
      </center>
      </td>
    </tr>
  </table>
</div>

