

<div class="main_sec" style="display: flex;flex-direction: column;">
<!-- <form name="form1" method="post" action="../sale/ddgl/pfmain-search.jsp">  -->

<div id="form">
<table width="100%" 
	bordercolor="#CCBE5A" cellspacing="0" 
                        bordercolordark="#ffffff" cellpadding="3" 
                        align="center" bgcolor="#ffffff" bordercolorlight="#7f9db9" 
                        border="1">
    <tr> 
      <td bgcolor="#e8ebf5"> 
        <div align="left"><font size="2">产品型号</font>&nbsp;</div>
      </td>
      <td> 
          <input name="epro" type="text" id="pro_number">
      </td>
      <td bgcolor="#e8ebf5"><font size="2">产品编号</font>&nbsp;</td>
      <td> 
        <input name="pro_number" type="text" id="pro_number">
      </td>
    </tr>
    <tr> 
      <td bgcolor="#e8ebf5">起始日期</div>
      </td>
      <td width="40%">
          <input type="text" ui="date" name="startdate" size="10">
      </td>
      <td width="11%" bgcolor="#e8ebf5">终止日期</td>
      <td width="40%"> 
          <input type="text" ui="date" name="enddate" size="10">
      </td>
    </tr>
    <tr> 
      <td colspan="4"> 
        <div align="center">
          <button action="search">统计</button>
          </div>
      </td>
    </tr>
  </table>
</div>

<div id="diagram" style="flex-grow:1;">
	
</div>
、
</div>
